{% from "../doc/doc.njk" import doc %}

{% macro docsByDay(docsByDayDict) %}

<section class="docs-by-day js-docs-by-day">
  {% for day, docs in docsByDayDict | dictsort %}
    <div class="day js-day">
      <div class="day__header js-day__header">
        <div class="day__title">{{ day | dateAsDayMonth }}</div>
        <div class="day__summary">
          <div class="day__summary-value day__summary-quantity">
            Документов: 
            <span class="day__docs-quantity">{{ docs | length }}</span>
          </div>
          <div class="day__summary-value day__summary-total">
            <span class="day__docs-total">({{ docs.total | asPrice }} ₽)</span>
          </div>
        </div>
      </div>
      <div class="day__docs js-day__docs">
        {% for id, d in docs.docs %}
          {{ 
            doc(
              id,
              d.docType,
              d.docDateTime,
              d.total,
              d.products
            ) 
          }}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</section>

{% endmacro %}