.docs-by-day {
  min-width: 320px;
  max-width: 560px;
  margin: 0 auto;
  background-color: $light-gray;
  box-shadow: 0 0 5px $mid-gray;
}

.day {
  $root: &;

  background-color: $white;

  &:not(:last-child) {
    box-shadow: 0 2px darken($light-gray, 15%);
  }

  &__header {
    display: flex;
    position: relative;
    padding: 20px 20px 20px 30px;
    cursor: pointer;
    user-select: none;

    &::before {
      content: '';
      position: absolute;
      top: 22px;
      left: 10px;
      width: 12px;
      height: 12px;
      background-image: url(/assets/icons/arrow-down.svg);
    }
  }

  &__summary {
    margin-left: auto;
  }

  &__summary-value {
    @media (min-width: $break-sm) {
      display: inline-block;
    }
  }

  &__summary-total {
    text-align: right;
    font-size: 16px;
  }

  &__docs {
    display: none;
  }

  & + & {
    margin-top: 5px;
  }

  &_is-opened {
    #{$root}__header::before {
      transform: rotate(180deg);
    }
  }
}
