{% from "../product/product.njk" import product %}

{% macro doc(id, docType, docDateTime, total, products) %}

<div class="doc js-doc">
  <div class="doc__header js-doc__header">
    <div class="doc__title">
      <span class="doc__type">{{ docType }}</span>
      №
      <span class="doc__id">{{ id }}</span>
    </div>
    <div class="doc__total">
      {{ total | asPrice }} 
      <span class="doc__currency">₽</span> 
    </div>
  </div>
  <div class="doc__body">
    <div class="doc__products-header js-doc__products-header">
      Товаров: {{ products | length }}
    </div>
    <div class="doc__products js-doc__products">
      {% for p in products %}
        {{ 
          product(
            p.productId,
            p.productName,
            p.productImage,
            p.productQuantity,
            p.productPrice,
            p.productIsRemoved
          ) 
        }}
      {% endfor %}
    </div>
  </div>
</div>

{% endmacro %}