.doc {
  $root: &;

  padding: 15px 30px 15px 30px;

  &__header {
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  &__body {
    position: relative;
    margin-top: 10px;
    margin-left: 15px;

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: -15px;
      width: 10px;
      height: 10px;
      transform: rotate(90deg);
      background-image: url(/assets/icons/arrow-full.svg);
    }
  }

  &__total {
    margin-left: auto;
    white-space: nowrap;
  }

  &__products {
    display: none;
    margin-top: 10px;
  }

  &__products-header {
    cursor: pointer;
    user-select: none;
  }

  & + & {
    border-top: 1px solid $light-gray;
  }

  &:first-child {
    padding-top: 0;
  }

  &_is-opened {
    #{$root}__body::before {
      transform: rotate(-90deg);
    }
  }
}
