html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $light-gray;
  font-family: Arial, Helvetica, sans-serif;
  color: $text-color;
  line-height: 18px;
}
