.product {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  color: $black;
  user-select: none;

  @media (min-width: $break-sm) {
    flex-direction: row;
    min-height: 70px;
    padding: 10px 0;
  }

  &__part-image {
    display: flex;
    flex: 0;
    align-items: flex-start;
    justify-content: center;
    min-width: 80px;
    margin-bottom: 15px;

    @media (min-width: $break-sm) {
      margin-bottom: 0;
    }
  }

  &__part-desc {
    flex: 1;
    min-width: 0; // in order to truncate product title
    font-size: 16px;

    @media (min-width: $break-sm) {
      padding-left: 15px;
    }
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &_not-available {
      text-decoration: line-through;
    }
  }

  &__meta {
    display: flex;
    margin-top: 10px;
    color: $black;
    font-weight: bold;
  }

  &__meta-value {
    margin-left: auto;
  }

  &__img {
    max-width: 100%;
    height: auto;
    max-height: 150px;
  }

  &__img-nothing {
    max-height: 80px;

    @media (min-width: $break-sm) {
      max-height: 60px;
    }
  }

  & + & {
    border-top: 1px solid $light-gray;

    @media (min-width: $break-sm) {
      border-top: none;
    }
  }

  &:first-child {
    padding-top: 10px;
  }

  &:last-child {
    padding-bottom: 10px;
  }
}
