{% macro product(id, name, img, quantity, price, isRemoved) %}

<div class="product">
  <div class="product__part product__part-image">
    <img 
      class="product__img" 
      src="{{ img }}" 
      alt="{{ name }}" 
      onerror="this.src='/assets/img/no-image.svg'; this.onerror=null; this.classList.add('product__img-nothing')" 
    />
  </div>
  <div class="product__part product__part-desc">
    <div class="product__title {{ 'product__title_not-available' if isRemoved else '' }}">
      {{ name }}
    </div>
    <div class="product__meta">
      <div class="product__meta-key">
        <span class="product__quantity">{{ quantity }}</span>
        штук х
        <span class="product__price">{{ price | asPrice }}</span>
        <span class="product__currency">₽</span>
      </div>
      <div class="product__meta-value">
        <span class="product__price-total">{{ (price * quantity) | asPrice }}</span>
        <span class="product__currency">₽</span>
      </div>
    </div>
  </div>
</div>

{% endmacro %}