{% extends "./layout.njk" %}

{% from "./components/docs/docs.njk" import docsByDay %}

{% block content %}

{# docsByDayDict is added to context from .nunjacks.js #}
{{ docsByDay(docsByDayDict) }}

{% endblock %}