<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SystemTech</title>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/icons/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="assets/icons/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/icons/favicon/favicon-16x16.png" />
    <link rel="manifest" href="assets/icons/favicon/site.webmanifest" />
    <link rel="mask-icon" href="assets/icons/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="assets/icons/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="assets/icons/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#22000e" />

    <link rel="stylesheet" href="./styles/app.scss" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="./scripts/app.js"></script>
  </body>
</html>
